body {
  background-color: #f2f2f4;
  background-color: #EFE6E7;
  font-size: 16px; }

main {
  text-align: center; }

h1 {
  font-size: 8.5em;
  font-weight: 500;
  line-height: 1.1em;
  color: #00f;
  letter-spacing: 10px;
  font-family: "Londrina Outline", cursive;
  text-transform: uppercase; }

.services {
  font-family: "Cutive Mono", monospace;
  font-size: 1.2em;
  line-height: 1.75em;
  color: #000; }

/* a {
  color: #708090;
  text-decoration: none;
  padding-bottom: .15em;
  display: block;}

a:hover {
  color: #00f;
  border-bottom: solid #00f 1.85px; } */

.location {
  font-family: "Cutive Mono", monospace;
  margin: 0 auto;
  margin-top: 8em;
  font-size: .85em;
  color: #708090; }

.location > p {
  /* display: inline-block; */
  text-transform: uppercase; }

.fa-moon {
  font-size: .85em;
  color: #dbe138; }

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 1199px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
      margin: 1em 1em 1.75em 1em;
    }

    .services {
      font-size: 2em;
    }

    .location {
      margin-top: 20em;
    }

    /* .fa-moon {
      font-size: 2em;
    } */
}
